doctype html
html(lang="pl")

  include _head

  body
    include ../components/loader/loader

    include ../components/header/header

    block content

    include ../components/footer/footer

    script(src='scripts/main.min.js')
